* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh; 
    border: 1px solid red;
    font-family: 'Roboto';   
}

header {
    display: flex;
    width: auto;
    height: 100px;
    background-color: gray;
    padding: 30px;
    justify-content: center;
    font-family: 'Bowlby One SC';
}

h1 {
	color: #07A65A5;
	font-size: 45px;
	margin: 0px;
    font-weight: 400;
   
}

h3 {

}

nav {
    display: flex;
    width: auto;
    height: 50px;
    background-color: lightblue;
}

main {
   display: flex;
   align-self: center;
   justify-content: space-around;
   width: 850px;
   margin: 35px auto;
   background-color: lightcoral;
}

img {
    display: flex;
    margin: 40px 8px 0;
    border: 1px solid black;
    border-radius: 5%;
}

.button {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    color: red;
    border: 1px solid red;   

}

button {
    align-items: center;
    text-transform: uppercase;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #160539;
	padding: 15px;
	margin: 20px 20px;
	border-radius: 12px;
}

footer {
    display: flex;
    height: 75px;
    background-color: lightgray;
}