* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100vh; 
    background-color: #E9E9EA;
    font-family: 'Roboto';   
}

header {
    display: flex;
    width: auto;
    background-color: #172C5B;
    justify-content: center;
    align-content: center;
    font-family: 'Bowlby One SC';
}

nav {
    display: flex;
    width: auto;
    height: 75px;
    background-color: #4C608F;
    justify-content: center;
    align-content: center;
}

#instructions {
    color: #E9E9EA;
    background-color: #4C608F;
    font-size: 20px;
    text-align: center;
    border-left: 1px solid #172C5B;
    border-right: 1px solid #172C5B;
    border-top: none;
    border-bottom: none;
    padding: 25px;
    font-family: 'Bowlby One SC'
}

h1 {
	color: #7585AB;
    text-align: center;
    font-size: 150px;
    font-weight: 400;
}

h2 {
    margin: 20px 20px 10px 20px;
    text-align: center;
    font-size: 35px;
}

main {
    display: flex;
    justify-content: space-around;
    width: auto;
    margin: 20px auto 0px auto;
    padding: 10px;
}

p {
    margin: 10px 0 0 0;
    text-align: center;
    font-size: 20px;
    color: #172C5B;
}

#score1,
#score2 {
    font-size: 88px;
    font-family: 'Bowlby One SC';
    color: #172C5B;
}

.tie-arena {
    display: flex;
    flex-wrap: nowrap;
    align-content: space-between;
    width: auto;
    max-width: 750px;
    margin: auto;
}

main div {
    margin: 10px;
}

.playerInfo {
    width: 300px;
}

.player img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
 }
 
img {
    display: flex;
    border: 1px solid black;
    border-radius: 5%;
    max-width: 100%;
    height: auto;
}

.player-tie {
    display: flex;
    flex-wrap: nowrap;
}

.button {
    display: inline-flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#fight,
#reset {
    align-items: center;
    text-transform: uppercase;
	font-size: 24px;
	color: #FFFFFF;
	background-color: #2E4375;
	padding: 15px;
	margin: 20px 20px;
	border-radius: 12px;
}

footer p {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 75px;
    background-color: #07173D;
    color: #7585AB;
}

footer img {
    margin-left: 10px;
}

a {
    text-decoration: none;
    color: #7585AB;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #4C608F; /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
 }
  
  /* Modal Content */
  .modal-content {
    background-color: #4C608F;
    margin: auto;
    padding: 20px;
    border: 1px solid #172C5B;
    max-width: 600px;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #172C5B;
    text-decoration: none;
    cursor: pointer;
  }